@font-face {
    font-family: Neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Neu ;
}

html,body{
    height: 100%;
    width: 100%; 
}

/* #main{ */
position: relative;
  z-index: 10;
background-color: black;
}

/* Page 1 Styling */
#page1{
min-height: 100vh;
width: 100%;
background-color: #EFEAE3;
padding: 0px 1vw;

}

/* Styling Navbar */

nav{
    padding: 1vw 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  
}
#navp2 {
display: flex;
align-items: center;
gap: 10px;

}

#navp2 h4 {
text-decoration: none;
color: rgb(0, 0, 0);
border: 1px solid rgb(99, 94, 94);
border-radius: 50px;
padding: 10px 20px ;
position: relative;
overflow: hidden;
font-weight: 350;

}
#navp2 h4::after{
    content: "";
position: absolute;
width: 100%;
height: 100%;
background-color: rgb(0, 0, 0);
left: 0;
bottom: -100%;
border-radius: 50px;
transition: all ease 0.3s;

}
#navp2 h4:hover::after{
    left: 0;
    bottom: 0;


}
#navp2 h4 a{
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 9;
}
#navp2 h4:hover a{
    color: white;
}

/* Styling Center Part of Page 1 */

#center{
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid rgb(136, 126, 126);
    padding-bottom: 6vh;
    padding-right:3vh ;
    padding-left: 3vh;
    font-family: Neu;
}

#left{
width: 17vw;
font-size: 2.2vh;
}

#right{
  
font-size: 9vh;
line-height: 15vh;
text-align: right;
}



/* Added  first Video after center elements */
video{
    border-radius: 30px;
width: 100%;
margin-top: 4vw;
position: relative;
/* background-color:  #EFEAE3; */
}

/* Shape Animation  Styling */

#shape{
    position: absolute;
    width: 44vw;
height: 32vw;
right: 0;
top: 70vh;
}

#shape1{
    position: absolute;
    width: 100%;
height: 100%;
background-color: #fe340b;
filter: blur(10px);
border-top-left-radius: 50%;
border-bottom-left-radius: 50%;
}

#shape2{
  position: absolute;
    width:30vw;
height: 30vw;
background-color:#fe340b;
filter: blur(20px);
border-radius: 50%;
animation-name: anime1;
animation-duration:6s ;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-direction: alternate;
animation-fill-mode: forwards;
}

#shape3{
  position: absolute;
    width: 30vw;
height: 30vw;
background-color:hsl(10, 99%, 52%);
filter: blur(25px);
border-radius: 50%;
animation-name: anime2;
animation-duration:6s ;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-direction: alternate;
animation-fill-mode: forwards;
}
#shape4{
  position: absolute;
    width: 30vw;
height: 30vw;
background-color:#fe340b;
filter: blur(25px);
border-radius: 50%;
animation-name: anime3;
animation-duration:3.5s ;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-direction: alternate;
animation-fill-mode: forwards;
}

@keyframes anime1{
    from{
       transform: translate(65%,-20%); 
    }
    to{
        transform: translate(0%,10%); 
    }
}

@keyframes anime2{
    from{
       transform: translate(5%,-3%); 
    }
    to{
        transform: translate(-10%,10%); 
    }
}
@keyframes anime3{
    from{
       transform: translate(-3%,-7%); 
    }
    to{
        transform: translate(40%,30%); 
    }
}

/* Styling Page 2 Of the Clone */

#page2{
    min-height: 100vh;
    width: 100%;
position: relative;
background-color: #EFEAE3;
}

#sliding-text{
    margin: 14vh 0;
    white-space: nowrap;
    overflow-x: auto;
    background-color:  #EFEAE3;
 
}

#sliding-text::-webkit-scrollbar{
   display: none;
}
.cont{
white-space: nowrap;
display: inline-block;
animation-name: slide;
animation-duration:13s ;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-fill-mode: forwards;

}

#circle-icon{
width: 50px;
height: 50px;
border-radius: 50%;
background-color: #fe340b;
display: inline-block;
margin: 1vh 3vh;
}

.cont h1{
    font-size: 15vh;
    display: inline-block;
}

/* Sliding text animation  */
@keyframes slide {
    from{
transform: translate(0%);
    }
    to{
        transform: translate(-100%);
    }
}

/* Page 2 bottom part styling */

#page2-bottom{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
padding: 4vw;
}

#bottom-text{
width: 60%;
margin-bottom: 14vw;
z-index: 9;
}
#bottom-text h1{
font-size:3.5vw;
line-height: 4vw;
}
#bottom-image{
    width: 17%;
  
}
#bottom-image p{
  font-weight: 200;
  margin-top: 3vw;
}
#bottom-image img{
width: 100%;
height: 100%;
border-radius: 4%;
}

/* Second Animation */

#moving-circle{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(to top right,#fe340b,rgb(252, 61, 13));
    top: 50%;
    left: 26vw;
    position: absolute;
    border-radius: 50%;
    filter: blur(20px);
    animation-name: m-c;
animation-duration:5s ;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-fill-mode: forwards;
animation-direction: alternate;
}


@keyframes m-c {
    from{
transform: translate(20%,-10%)skew(10deg);
    }
    to{
transform: translate(-10%,14%)skew(-12deg);
    }
}

/* Footere Styling */
#page2-footer{
    bottom: 30vw;
    display: flex;
padding: 0 1.5vw;
gap: .5vw;
}
#page2-footer img{
width: 7px;
height: 7px;
margin-top: .25vw;
    
}
#page2-footer p{
font-size: .8vw;
  
}

/* Page 3 styling */

#page3{
    min-height: 100vh;
    width: 100%;
padding: 3vw 0;
background-color: #EFEAE3;

/* display: flex; */

}

.elem{
height:9vw ;
   width: 100%;
padding-top: 3vw;
   position: relative;
display: flex;
align-items: center;
border-bottom: 1px solid rgb(70, 57, 57);
overflow:hidden;
}
.elem h2{
color: black;
font-size: 4vw;
padding-left: 1.5vw;
z-index: 9;
}
.elem .overlay{
width: 100%;
height: 100%;
background-color: orangered;
position: absolute;
top: -100%;


transition: all ease .3s;
}

.elem:hover .overlay{
top: 0%;

}

/* Floating Image Styling */

#fixed-image{
    height: 65%;
    width: 23%;
    background-color: red;
    position: fixed;
    z-index: 99;
    top: 17%;
    left: 52%;
    border-radius: 7%;
    display: none;
    background-position: center;
    background-size: cover;
}
.data-image{
    display: block;
}


/* Page 4 Styling */

#page4{
    height: 130vh;
    width: 100%;
    padding-top: 15vw;
   display: flex;

   justify-content: center;
}

#box{
    height: 120vh;
    width: 93%;
 background-color: black;
 border-radius: 24px;
display: flex;
justify-content: space-between;
}

#left-box{
display: flex;
justify-content: center;
    width: 45%;
}


#right-box{
height: 100%;
width: 55%;

}
#right-box img{
height: 100%;
width: 100%;
border-radius: 24px;

}

#writting{
    width: 60%;
    padding-top: 12vw;
}

#left-box #writting h1{
    color: white;
    font-size:5vw;
 line-height: 5vw;
 padding-left: 1.5vw;
 border-left: 2px solid white;
 
 }
#left-box #writting .headingp1 h1{
    color: white;
    font-size:5vw;
 padding-left: 1.5vw;
 border-left: 4px solid rgb(217, 56, 20);
 
 }

#left-box #writting .headingp2 h1{
    color: #504A45;
    font-size:5vw;
 
 padding-left: 1.5vw;
 border-left: 4px solid#504A45;
 
 }

 #left-box #writting p{

    margin-top: 5vw;
    color:  #EEE9E2;
    line-height: 1.5vw;
 }

 #menu{
   padding-top: 5vw;
   display: flex;
  
 }

 #menu h4{
    margin-left: 4vw;
    border: 1px solid #BFBBB6;
    padding: 1vw 1.5vw;
    border-radius: 50px;
font-weight: 100;
 }

/* Page 5 Styling */

#page5{

    height: 100vh;
    width: 100%;
    /* background-color: #de9d43; */
}

/* Footer Styling */

/* #footer{
display: flex;
position: fixed;
bottom: 0;
height: 100%;
width: 100%;
z-index: 1;
background-color: black;
align-items: center;
justify-content: center;


}

#footer  h1{
    color: rgb(255, 255, 255);
    font-size:20vh ;
} */