@font-face {
    font-family: Neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Neu;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    z-index: 11;
}

/* Page 1 Styling */

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 0px 1vw;

}

/* Styling Navbar */

nav {
    padding: 1vw 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

#navp2 {
    display: flex;
    align-items: center;
    gap: 10px;

}

#navp2 h4 {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(99, 94, 94);
    border-radius: 50px;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    font-weight: 350;

}

#navp2 h4::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    left: 0;
    bottom: -100%;
    border-radius: 50px;
    transition: all ease 0.3s;

}

#navp2 h4:hover::after {
    left: 0;
    bottom: 0;

}

#navp2 h4 a {
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 9;
}

#navp2 h4:hover a {
    color: white;
}

/* Top Menu Styling */

#top-menu {
    display: none;
}

/* Styling Center Part of Page 1 */

#center {
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid rgb(136, 126, 126);
    padding-bottom: 6vh;
    padding-right: 3vh;
    padding-left: 3vh;
    font-family: Neu;
}

#left {
    width: 17vw;
    font-size: 2.2vh;
}

#right {
    font-size: 9vh;
    line-height: 15vh;
    text-align: right;
}



/* Added  first Video after center elements */

#video {
    padding-top: 4.5vw;
    position: relative;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
}

video {

    border-radius: 32px;
    width: 100%;

}

/* Shape Animation  Styling */

#shape {
    position: absolute;
    width: 44vw;
    height: 32vw;
    right: 0;
    top: 70vh;
}

#shape1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fe340b;
    filter: blur(10px);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

#shape2 {
    position: absolute;
    width: 30vw;
    height: 30vw;
    background-color: #fe340b;
    filter: blur(20px);
    border-radius: 50%;
    animation-name: anime1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

#shape3 {
    position: absolute;
    width: 30vw;
    height: 30vw;
    background-color: hsl(10, 99%, 52%);
    filter: blur(25px);
    border-radius: 50%;
    animation-name: anime2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

#shape4 {
    position: absolute;
    width: 30vw;
    height: 30vw;
    background-color: #fe340b;
    filter: blur(25px);
    border-radius: 50%;
    animation-name: anime3;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes anime1 {
    from {
        transform: translate(65%, -20%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -3%);
    }

    to {
        transform: translate(-10%, 10%);
    }
}

@keyframes anime3 {
    from {
        transform: translate(-3%, -7%);
    }

    to {
        transform: translate(40%, 30%);
    }
}

/* Styling Page 2 Of the Clone */

#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #EFEAE3;
    padding-top: 14vh;
    padding-bottom: 10vh;
}

#sliding-text {
    white-space: nowrap;
    overflow-x: auto;
    background-color: #EFEAE3;
    margin-top: 3.5vw;
    margin-bottom: 10vw;

}

#sliding-text::-webkit-scrollbar {
    display: none;
}

.cont {
    white-space: nowrap;
    display: inline-block;
    animation-name: slide;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

#circle-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fe340b;
    display: inline-block;
    margin: 1vh 3vh;
}

.cont h1 {
    font-size: 15vh;
    display: inline-block;
}

/* Sliding text animation  */
@keyframes slide {
    from {
        transform: translate(0%);
    }

    to {
        transform: translate(-100%);
    }
}

/* Page 2 bottom part styling */

#page2-bottom {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw;
}

#bottom-text {
    width: 60%;
    margin-bottom: 14vw;
    z-index: 9;
}

#bottom-text h1 {
    font-size: 3.5vw;
    line-height: 4vw;
}

#bottom-image {
    width: 17%;

}

#bottom-image p {
    font-weight: 200;
    margin-top: 3vw;
}

#bottom-image img {
    width: 100%;
    height: 100%;
    border-radius: 4%;
}

/* Second Animation */

#moving-circle {
    height: 30vw;
    width: 30vw;

    background: linear-gradient(to top right, #fe340b, rgb(252, 61, 13));
    top: 50%;
    left: 26vw;
    position: absolute;
    border-radius: 50%;
    filter: blur(20px);
    animation-name: m-c;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}


@keyframes m-c {
    from {
        transform: translate(20%, -10%)skew(10deg);
    }

    to {
        transform: translate(-10%, 14%)skew(-12deg);
    }
}

/* Footere Styling */
#page2-footer {
    bottom: 30vw;
    display: flex;
    padding: 0 1.5vw;
    gap: .5vw;

}

#page2-footer img {
    width: 7px;
    height: 7px;
    margin-top: .25vw;

}

#page2-footer p {
    font-size: .8vw;

}

/* Page 3 styling */

#page3 {
    min-height: 100vh;
    width: 100%;

    background-color: #EFEAE3;

    /* display: flex; */

}

.elem {
    height: 9vw;
    width: 100%;
    padding-top: 3vw;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(70, 57, 57);
    overflow: hidden;
}

.elem h2 {
    color: black;
    font-size: 4vw;
    padding-left: 1.5vw;
    z-index: 9;
}

.elem .overlay {
    width: 100%;
    height: 100%;
    background-color: orangered;
    position: absolute;
    top: -100%;


    transition: all ease .3s;
}

.elem:hover .overlay {
    top: 0%;

}

/* Floating Image Styling */

#fixed-image {
    height: 65%;
    width: 23%;
    background-color: red;
    position: fixed;
    z-index: 99;
    top: 17%;
    left: 52%;
    border-radius: 7%;
    display: none;
    background-position: center;
    background-size: cover;
}

.data-image {
    display: block;
}


/* All  projects Small Menu */

#menu {
    padding-top: 5vw;
    display: flex;

}

#menu a {
    text-decoration: none;
    border: 1px solid #BFBBB6;
    border-radius: 50px;
    margin-left: 4vw;
    padding: 1vw 2vw;

    position: relative;
    overflow: hidden;
}

#menu h4 {
    color: black;
    font-weight: 100;

}

#menu a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    left: 0;
    bottom: -100%;
    border-radius: 50px;
    transition: all ease 0.3s;

}

#menu a:hover::after {
    left: 0;
    bottom: 0;

}

#menu a:hover h4 {

    color: white;
    position: relative;
    z-index: 9;
}


/* Page 4 Styling */

#page4 {
    height: 150vh;
    width: 100%;
    padding-top: 9vw;
    display: flex;
    background-color: #EFEAE3;
    justify-content: center;
}

#box {
    height: 120vh;
    width: 93%;
    background-color: black;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
}

#left-box {
    display: flex;
    justify-content: center;
    width: 45%;
}


#right-box {
    height: 100%;
    width: 55%;

}

#right-box img {
    height: 100%;
    width: 100%;
    border-radius: 24px;

}

#writting {
    width: 60%;
    padding-top: 12vw;
}

#left-box #writting h1 {
    color: white;
    font-size: 5vw;
    line-height: 5vw;
    padding-left: 1.5vw;
    border-left: 2px solid white;

}

#left-box #writting .headingp1 h1 {
    color: white;
    font-size: 5vw;
    padding-left: 1.5vw;
    border-left: 4px solid rgb(217, 56, 20);

}

#left-box #writting .headingp2 h1 {
    color: #504A45;
    font-size: 5vw;

    padding-left: 1.5vw;
    border-left: 4px solid#504A45;

}

#left-box #writting p {
    font-size: small;
    margin-top: 4vw;
    color: #EEE9E2;
    line-height: 1.5vw;
}





/* Page 5 Styling */

#page5 {

    height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding-top: 6vw;
}

/* Collaboration Styling */

#collab {
    display: flex;
    align-items: center;
    margin-left: 8vw;
    gap: .5vw;

}

#collab h3 {
    font-size: 1vw;
}

#collab img {
    width: 8px;
    height: 8px;
}

/* Swiper Styling*/

.swiper {
    width: 100%;
    height: 100%;
    padding: 6vw 0;
}

.swiper-slide {
    text-align: center;
    font-size: 14px;
    height: 25vw;
    display: flex;
    justify-content: flex-start;

    width: 27%;
    border-left: 1px solid rgb(191, 187, 182);
    flex-direction: column;
    width: 30%;
    padding-left: 1.5vw;
    padding-right: 10vw;
}

.swiper-slide img {
    margin-bottom: 1vw;

}

.swiper-slide p {

    text-align: left;
}



/* Page6 styling */

#page6 {
    height: 115vh;
    width: 100%;
    position: relative;
}




/* Footer Styling */

#footer {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 115vh;
    width: 100%;
    z-index: 10;
    background-color: black;
    align-items: center;
    flex-direction: column;
    padding: 1vw 2.3vw;
    padding-bottom: 0vw;
}

#footer-end {
    height: 15vh;
    width: 100%;
    background-color: #EEE9E2;
    position: fixed;
    bottom: 0;
    z-index: 9;
}

#footer #footer-top {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 9vw;

}

#footer #footer-top #top-h {
    margin-left: 3.5vw;
}

#footer #footer-top #top-h h3 {
    font-size: 2.2vw;
    line-height: 3vw;
    color: white;
}

#footer #footer-top #top-h h3:hover {
    cursor: pointer;

}

#footer #footer-top #top-p {
    margin-right: 5vw;
    width: 25vw;
    line-height: 1.7vw;

}

#footer #footer-top #top-p p {
    color: white;

}




#footer #main-h h1 {
    padding-top: 7.4vw;
    color: rgb(255, 255, 255);
    font-size: 23.5vw;
    line-height: 20vw;

}

#footer-bottom {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    padding: 2vw 0vw;

    border-top: 1px solid #504A45;
}

#footer-bottom h4 {
    color: white;
}

#footer-bottom h4 img {
    width: 10px;
    height: 10px;
}

#footer #footer-top #top-pright #top-email {
    margin-top: 3vw;
    width: 100%;
    text-decoration: underline;
}

/* Footer Animation */

/* #footerani {
    position: absolute;
    width: 120%;
    height: 35vh;
    top: -10vh;
    left: -5vw;


}

#footerani1 {
    position: absolute;
    width: 60vw;
    height: 50vh;
    border-radius: 10%;

    border-bottom-right-radius: 70%;
    

    background-color: #fe340b;
    filter: blur(20px);
    animation-name: footeranime1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

#footerani2 {
    position: absolute;
    width: 60%;
    height: 46vh;
    border-radius: 50%;
    background-color: #fe340b;
    right: 0;
    filter: blur(20px);
    animation-name: footeranime2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: forwards;
} */

@keyframes footeranime1 {
    from {
        transform: translate(-10%,0)skew(30deg);
    }

    to {
        transform: translate(20%,10%)skew(10deg);
    }
}

@keyframes footeranime2 {
    from {
        transform: translate();
    }

    to {
        transform: translate();
    }
}

/* Full Screen Styling */

#full-scr {
    height: 100vh;
    width: 100%;
    background-color: black;
    z-index: 9;
    transition: all ease-in .6s;
    position: fixed;
    top: -100%;
    opacity: .6;


}

#full-p1 {
    width: 100%;
    height: 45vh;
    background-color: #EFEAE3;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    text-align: right;


}

#full-p1h {
    margin-right: 10vw;
    font-size: 5vw;
    line-height: 11vw;
    margin-bottom: 5.5vw;

}

/*  Responsive Making*/

@media (max-width:600px) {

    #page1 {
        height: 160vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 4vw 3vw;
    }

    nav {
        padding: 1vw 1vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        background-color: #EEE9E2;

    }

    #navp2 {
        display: flex;
        align-items: center;
        gap: 10px;

    }

    #navp2 h4 {
        display: none;
    }

    #top-menu {
        display: block;
        margin-right: 7vw;
        border: 2px solid rgba(47, 39, 39, 0.135);
        padding: 1vw 2.5vw;
        border-radius: 5vw;
        z-index: 1000;
    }

    #top-menu h3 {

        color: rgb(71, 71, 71);
    }

    /* Styling Center Part of Page 1 */

    #center {
        height: 50vh;
        width: 100%;
        display: flex;
        padding-top: 14vw;
        flex-direction: column-reverse;
        border-bottom: 1px solid rgb(136, 126, 126);
        padding-bottom: 6vh;
        padding-right: 3vh;
        padding-left: 3vh;
        font-family: Neu;
    }

    #left {

        width: 100vw;
        font-size: 2.2vh;
        text-align: left;

    }

    #left h3 {
        margin-left: 12vw;
        margin-right: 28vw;
    }

    #right {

        font-size: 4.5vh;
        line-height: 8vh;
        text-align: right;
        justify-self: flex-start;
        margin-bottom: 6vw;
    }

    /* Shape  */

    #shape {
        position: absolute;
        width: 68vw;
        height: 72vw;
        right: 0;
        top: 60vh;
    }


    /* Added  first Video after center elements */
    #video {

        padding-top: 3.5vw;
        position: relative;
        padding-right: 1vw;
        padding-left: 1vw;
       
    }

    video {
        border-radius: 32px;
        width: 96%;
        object-fit: cover;
        object-position: center;
        height: 90vh;
        margin-left: 2%;

    }

/* Page 2 Styling */

    #page2 {
        min-height: 100vh;
        width: 100%;
        position: relative;
        background-color: #EFEAE3;
        padding-top: 1vh;
     
    }
    
    #sliding-text {
        white-space: nowrap;
        overflow-x: auto;
        background-color: #EFEAE3;
      

    
    }
    
    #sliding-text::-webkit-scrollbar {
        display: none;
    }
    
    .cont {
        white-space: nowrap;
        display: inline-block;
        animation-name: slide;
        animation-duration: 13s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    
    }
    
    #circle-icon {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: #fe340b;
        display: inline-block;
        margin: 1vh 1.5vh;
    }
    
    .cont h1 {
        font-size: 8vh;
        display: inline-block;
    }


    /* Page 2 bottom part styling */

#page2-bottom {
    height: 80vh;
    width: 100%;
    display: flex;

    flex-direction: column;
    /* padding: 4vw; */
}

#bottom-text {
    width: 98%;
    margin-bottom: 0vw;
    z-index: 9;
}

#bottom-text h1 {
    font-size: 6.5vw;
    line-height: 6vw;
}

#bottom-image {
    width: 55%;
    height: 25vh;
    z-index: 9;
    position: absolute;
    left: 6vw;
    top: 70vw;
}

#bottom-image p {
    font-weight: 200;
    margin-top: 5vw;
}

#bottom-image img {

    border-radius: 4%;
}

/* Second Animation */

#moving-circle {
    height: 65vw;
    width: 65vw;
 background: linear-gradient(to top right, #fe340b, rgb(252, 61, 13));
    top: 32%;
    left: 34vw;
    position: absolute;
    border-radius: 50%;
    filter: blur(20px);
    animation-name: m-c;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

/* Pge 2 footer styling */

#page2-footer {
    
    display: flex;
    padding: 0 5.5vw;
    gap: .5vw;
position: absolute;
bottom:0;

}

#page2-footer img {
    width: 7px;
    height: 7px;
    margin-top: 1vw;

}

#page2-footer p {
    font-size: 2vw;
margin-left: .7vw;
}


/* Page 4 Styling */

#page4 {
    height: 150vh;
    width: 100%;
    padding-top: 9vw;
    display: flex;
    background-color: #EFEAE3;
    justify-content: center;
}

#box {
    height: 140vh;
    width: 92%;
    background-color: black;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
position: relative;
}

#left-box {
    display: flex;

    width: 100%;
    height: 50%;
}


#right-box {
    height: 50%;
    width: 100%;

}

#right-box img {
    height: 100%;
    width: 100%;
    border-radius: 24px;
object-fit: cover;
object-position: center;
}

#writting {
    width: 80%;
    padding-top: 5vw;
    position: absolute;
    left: 15%;
    top: 6%;
}

#left-box #writting h1 {
    color: white;
   line-height: 8.3vw;
    padding-left: 3.5vw;
    border-left: 2px solid white;

}

#left-box #writting .headingp1 h1 {
    color: white;
    font-size: 9vw;
padding-left: 3.5vw;
    border-left: 4px solid rgb(217, 56, 20);

}

#left-box #writting .headingp2 h1 {
    color: #504A45;
    font-size: 9vw;
    padding-left: 3.5vw;
    border-left: 4px solid#504A45;

}

#left-box #writting p {
    font-size: small;
    margin-top: 4vw;
    color: #EEE9E2;
    line-height: 4.5vw;
}

/* page5 styling */

#page5 {

    height: 110vh;
    width: 100%;
    background-color: #EFEAE3;
    padding-top: 10vw;
    position: relative;
}

/* Collaboration Styling */

#collab {
    display: flex;
    align-items: center;
    margin-left: 8vw;
    margin-top: 3vw;
    gap: 2vw;

}

#collab h3 {
    font-size: 3.5vw;
}

#collab img {
    width: 9px;
    height: 9px;
}

/* Swiper Styling*/

.swiper {
    width: 190%;
    height: 100%;
   left: 0%;
   position: absolute;
}

.swiper-slide {
    text-align: center;
    font-size: 14px;
    height: 55vw;
    display: flex;
    justify-content: flex-start;
margin-right: 4vw;
padding-left: 6vw;
margin-top: 12vw;
    border-left: 1px solid rgb(191, 187, 182);
    flex-direction: column;
    width: 30%;

}

.swiper-slide img {
height: 85%;
width: 80%;
}

.swiper-slide p {
 text-align: left;
 font-size: 95%;
 line-height: 120%;
}




}